<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi2zeGz31zFvv9woOLjVoXdBTjyp6v3dI</string>
	<key>GCM_SENDER_ID</key>
	<string>575130445461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madCw06</string>
	<key>PROJECT_ID</key>
	<string>classwork-06-5d606</string>
	<key>STORAGE_BUCKET</key>
	<string>classwork-06-5d606.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575130445461:ios:1d6289fc0626fa7f649d9c</string>
</dict>
</plist>